<%- include('partials/header'); %>
<div class="container-content">
  <div class="title">
    <h1>The Pickle</h1>
    <h2>Pickleball League</h2>
    <p>Starting July 1st, 2023</p>
    <h1>Pickleball Registrar</h1>
  </div>

  <% if (foundPickles.length === 0) { %>

  <h3>Please <a href="/register">sign</a> up.</h3>
  <% } else { %> <% foundPickles.map(pickle => { %>
  <div class="text">
    <p><%= pickle.name %></p>
    <form action="/delete" method="POST" id="form">
      <input type="hidden" name="id" value="<%= pickle._id %>" />
      <button type="submit" id="submit">Delete</button>
    </form>
  </div>
  <% }) %> <% } %>
</div>
<%- include('partials/footer'); %>
