<%- include('partials/header'); %>
<div class="container-content">
  <h1>Are you a pickle?</h1>
  <div class="page">
    <form method="post" action="/register" class="page">
      <label for="name">Name:</label>
      <input placeholder="Name" name="name" type="text" required />
      <label for="email">Email:</label>
      <input placeholder="Email" name="email" type="text" required />
      <label for="phoneNumber">Phone Number:</label>
      <input
        placeholder="Phone Number"
        name="phoneNumber"
        type="text"
        required
      />
      <label for="city">City:</label>
      <input placeholder="City" name="City" type="text" />
      <button type="submit" id="submit">SUBMIT</button>
    </form>
  </div>
</div>
<%- include('partials/footer'); %>
